In [18]:
class Student(){
    var name:String="";
    var sex:Char='F';
    var grade:Int=5;
    var age:Int=12;
    
    def this(name_stu:String){
        this()
        this.name=name_stu;
    }
    def this(name_stu:String,sex_stu:Char){
        this()
        this.name=name_stu;
        this.sex=sex_stu;
    }
    def this(name_stu:String,sex_stu:Char,grade_stu:Int){
        this()
        this.name=name_stu;
        this.sex=sex_stu;
        this.grade=grade_stu;
    }
    def this(name_stu:String,sex_stu:Char,grade_stu:Int,age_stu:Int){
        this()
        this.name=name_stu;
        this.sex=sex_stu;
        this.grade=grade_stu;
        this.age=age_stu;
    }
}

defined class Student

In [19]:
var stu = new Student("Doe", 'F', 8, 16);

stu = Student@6b8c5fd6

$line41.$read$$iw$$iw$Student@47bb5359

In [20]:
var name_stu = stu.name
var sex_stu = stu.sex
var grade_stu = stu.grade
var age_stu = stu.age

name_stu = Mack
sex_stu = F
grade_stu = 5
age_stu = 12

12